/* Body */
body {
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
}

:root {
    --secondary-color: #55663b;
    --background-light: #ebe0de; /* Nova cor adicionada */
}

.navbar-nav .nav-link:hover {
    color: #55663b;
}

.navbar-text {
    line-height: 2rem; /* Centraliza verticalmente na navbar */
}

/* Fontes específicas */
.font-cormorant {
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
    letter-spacing: 2px;
    font-size: 12px;
}

.text-center .font-cormorant2 {
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
    letter-spacing: 2px;
    font-size: 12px;
}

/* Custom Header */

.custom-header {
    background: linear-gradient(
        100deg,
        /* #55663b, */ #55663b,
        /* #8ea46f, */ #55663bb8,
        #ebe0de,
        #ebe0de,
        #ebe0de,
        #ebe0de
    );
    height: 25rem;
}

.custom-header .linques .nav-item a {
    margin-right: 40px;
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
    letter-spacing: 4px;
    font-size: 14px;
    color: #55663b;
}

/* Quem Somos */

.quem {
    padding: 20rem;
    background-color: #ebe0de; /* Cor de fundo suave */
}

.subtitle {
    position: absolute;
    font-style: italic; /* Aplica itálico */
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
}

.somos {
    margin-left: 4rem;
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
}

.linha1 {
    width: 500px;
    border: 1px solid #55663b91;
    margin-left: 0;
}

.title {
    color: #55663b;
    margin-left: 4rem;
}

/* Texto */
.row .texto h5 {
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
    margin-top: 3rem;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 300;
    width: 25rem;
    margin-left: 10rem;
    text-align: justify;
    color: #55663b;
}

/* Texto */
.row .texto2 h5 {
    font-family: "Montserrat", sans-serif; /* Aplica a fonte Montserrat */
    margin-top: 3rem;
    font-size: 20px;
    letter-spacing: 3px;
    font-weight: 300;
    margin-left: 5rem;
    color: #55663b;
    width: 30rem;
}

/* O que entregamos*/

.entrega {
    padding: 20rem;
}

.balao {
    position: absolute;
    width: 40rem !important;
    height: 30rem;
    left: -10rem;
    top: -15rem;
}

.entregamos {
    margin-left: 4rem;
    font-family: "Montserrat", sans-serif;
}

.title2 {
    color: #55663b;
    margin-left: 4rem;
}
.subtitle2 {
    position: absolute;
    font-style: italic;
    font-family: "Montserrat", sans-serif;
}
.linha2 {
    width: 500px;
    border: 1px solid #55663b91;
    margin-left: 0;
}

.text-center p {
    color: #796645;
}

.texto-item {
    position: relative;
}

.bullet-point {
    position: absolute;
    left: -50px;
    top: 7%;
    transform: translateY(-50%);
    font-size: 50px;
    color: #6b7e4e;
}

.texto-item-1 {
    margin-left: 200px;
}

.texto-item-2 {
    margin-left: 100px;
}

.texto-item-3 {
    margin-left: 0;
}

.btn-color {
    background-color: #55663b;
    color: white;
    border: none;
}

.btn-color:hover {
    background-color: #333f20;
    color: white;
}

/* Alex Brush */
.font-alex-brush {
    font-family: "Alex Brush", cursive;
    font-size: 1.5rem;
}

/* Destaques */
.destaques h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.destaques p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.destaques .blockquote-footer {
    font-size: 0.9rem;
    color: #6c757d;
}

.destaques .btn {
    font-size: 1.25rem;
    padding: 10px 30px;
}

/* Contatos */
.contatos {
    font-family: "Cormorant Garamond", serif;
}

/* Servicos */
.servicos h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.servicos p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.servicos .btn {
    font-size: 1.25rem;
    padding: 10px 30px;
}

/* Blog */
.blog h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.blog p {
    font-size: 1.1rem;
    margin-bottom: 15px;
}

.blog .btn {
    font-size: 1.25rem;
    padding: 10px 30px;
}

/* Paleta de cores */
:root {
    --primary-color: #796645;
    --secondary-color: #55663b;
    --accent-color: #938070;
    --text-color: rgb(0, 0, 0);
}

/* Estilos para a seção de serviços */
#servicos {
    color: var(--text-color);
}

#servicos h2 {
    color: var(--accent-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#servicos p {
    color: var(--text-color);
    font-size: 1.1rem;
}

.servico-card {
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease-in-out;
    color: var(--text-color);
}

.servico-card:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.servico-card h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
    color: var(--accent-color);
}

.servico-card i {
    color: var(--accent-color);
    margin-bottom: 15px;
}

/* Estilos para a seção Sobre Nós */
#sobre-nos {
    background-color: #ebe0de; /* Cor de fundo suave */
    color: #333; /* Cor do texto */
    padding: 0px 0;
    border-radius: 15px;
}

#sobre-nos h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

#sobre-nos h4 {
    color: var(--accent-color);
    font-size: 1.8rem;
    margin-top: 20px;
    margin-bottom: 15px;
}

#sobre-nos p {
    font-size: 1.1rem;
    line-height: 1.6;
}

.sobre-nos-img {
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: auto;
}

.sobre-nos-box {
    color: var(--text-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    background-color: #fff;
}

.sobre-nos-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.sobre-nos-box h4 {
    color: var(--text-color);
}

.sobre-nos-box p {
    color: var(--text-color);
}

/* Estilos para a seção Depoimentos */
#depoimentos {
    background-color: #fff;
    padding: 60px 0;
}

#depoimentos h2 {
    color: var(--primary-color);
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.depoimento-box {
    color: var(--text-color);
    padding: 30px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    margin-bottom: 30px;
}

.depoimento-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.depoimento-box blockquote {
    font-size: 1.2rem;
    line-height: 1.6;
    margin-bottom: 10px;
}

.depoimento-box footer {
    color: var(--accent-color);
    font-size: 1rem;
    font-style: italic;
}

/* Estilos para desktop */
